.board-pane {
    -fx-background-image: url("../resources/Tablero2.png");
}

.grid-pane {
    -fx-background-fills: transparent;
}

.seleccionada {
    -fx-border-color: #4d4d4d;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

